*{
    margin: 0;
    padding: 0;
}
/* Gerais */
body {
    background-color: #111;
    font-family: 'Roboto', sans-serif;
  }
  
  .row {
    margin: 0;
  }
  
  .container {
    padding: 70px 0;
  }
  
  p, li {
    color: #fff;
    font-size: 14px;
  }

/*inicio navbar*/
.navbar-brand img{
    height: 70px;
}

header {
    height: 70vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    
}
header::after{
    content: "";
    display: block;
    width: 100%;
    height: 40px;
    background: linear-gradient(90deg, rgba(242,90,41,1) 0%, rgba(191,30,46,1) 100%);
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
    
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem, 8rem;
    
    
}
.navbar .navbar-nav .nav-item .nav-link:link, .navbar .navbar-nav .nav-item .nav-link:visited{
    color: #fff;
    margin-left: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    

}
.navbar .navbar-nav .nav-item .nav-link:hover, .navbar .navbar-nav .nav-item .nav-link:active{
    color: #f25a29;
    margin-left: 20px;
    border-bottom: 2px solid #bf1e2e;
    transition: border-bottom 0.2s;

}

.navbar-toggler{
   border: none;
   background: #bf1e2e;
}

/*Slider*/

.container-fluid{
    padding: 0;
}
.carousel-item {
   
   min-height: 300px;
   -webkit-background-size: cover;
  background-size: cover;

}
#mainSlider .carousel-inner, #mainSlider .carousel-item img{
    height: 70vh;
 
}

#mainSlider .carousel-caption{
    top:50%;
}
#mainSlider .carousel-caption h2{
    font-size: 50px;
    margin-bottom: 30px;

}
#mainSlider .carousel-caption p{
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 100%;
    color: #fff;
}

.carousel-indicators .active{
    background-color: #f25a29;
}


/*Main Sobre eu*/
.foto-perfil{
    padding-top: 100px;
}

.main-title{
    color: #fff;
    margin: 0 0 65 0;
    font-size: 40px;
    text-align: center;
    padding: 10;
}
.main-title::after{
    content: "";
    border-top: 2px solid #fff;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
}
.descrition{
    font-size: 14px;
    text-align: center;
    padding-top: 60px;
    
}
main .main-btn{
    background-color: #f25a29;
    color: #fff;
    display: block;
    height: auto;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 2px solid transparent;
    transition: 1s;  

}

.main-btn:hover{
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    border-color: #f25a29;
}

/* inicio rodape*/
.logo-rodape{
  padding-top: 50px;
  margin-top: 0;
  
 
}
.logo-rodape img{
    height: 70px;
}
footer p{
    
    padding-top: 50px;
}
.social i{
    color: #fff;
    border: 1px solid #fff;
    padding: 6px;
    margin: 6px;
    width: 30px;
    height: 30px;
    line-height: 15px;
    border-radius: 120px;

}    
  footer .container {
     text-align: center;

 }

 